.hours-zero {
  display: none;
}

.clock {
  font-family: Geo;
  font-size: 80px;
}

.main-div {
  height:180px;
  width: 600px;
  background-color: rgb(20, 20, 20);
  color: rgb(0, 187, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 6px solid rgb(0, 187, 255);
}
body {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
}